html, body {
    margin:0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body > * {
    width:500px;
    /* height: 10vh; */
    margin:auto;
    text-align: center;
}

span {
    /* height: ; */
    margin-top: 10vh;
}

/* ~~~~~~~~~ CUADRICULA ~~~~~~~~~ */
main {
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

main .cuadro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px black solid;
}

main .cuadro button {
    cursor: pointer;
    font-size: 1.5em;
}

